body{
    background: cornflowerblue;
}
.content-wrapper{
    background: cornflowerblue;
}

#content-submit{
    background: white;
    border-radius: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.content-header h1{
    color: white;
    font-size: 3.5rem;
}

.main-footer{
    margin-top: 3rem;
}