body{
    background: #000166;
}
.content-wrapper{
    background: #000166;
}

#content-submit{
    background: #f1f1f1;
    border-radius: 20px;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 5rem;
    padding-bottom: 5em;

    margin-bottom: 5em;
    
}
.content-header h1{
    color: white;
    font-size: 3.5rem;
}

.main-footer{
    margin-top: 3rem;
}

form label.required:after
{
    color: red;
    content: " *";
}